<!DOCTYPE html>
<html lang="en">
  <head><!-- Cool, basic stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="CTOON">

    <title>CN Previews</title>

    <!-- Verification stuff -->
    <meta name="google-site-verification" content="Spx1iga7tn8nrcaqbLh7RnekjcXBKvtplgswT9rONa8" />
    <meta name="flattr:id" content="22jl5v">

    <!-- Twitter hell -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@CTOONnet">
    <meta name="twitter:title" content="CN Previews" data-vue-meta="true">
    <meta name="twitter:image" content="https://previews.ctoon.network/static/img/icons/CN-Yellow.png">
    <meta name="twitter:image:alt" content="CN Previews">

    <!-- Open Graph hell -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CN Previews">
    <meta property="og:title" content="CN Previews" data-vue-meta="true">
    <meta property="og:url" content="https://previews.ctoon.network/" data-vue-meta="true">
    <meta property="og:image" content="https://previews.ctoon.network/static/img/icons/CN-Yellow.png">

    <!-- App hell -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#ffeb00">
    <meta name="apple-mobile-web-app-title" content="Previews">
    <meta name="application-name" content="Previews">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  </head>
  <body>
    <noscript>
      Please enable Javascript to use this app!
    </noscript>

    <div id="app"></div>

    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
  </body>
</html>
