<template>
  <v-layout row wrap justify-space-around>
    <v-flex xs12>
      <h4 class="display-1" v-text="pagetitle" />
    </v-flex>
    <v-flex xs12 md10 lg8>
      <v-card>
        <v-container fluid>
          <v-layout row>
            <v-flex>
              <h5 class="headline">
                What is this website?
              </h5>
              <div>
                <p>
                  This is a website that will go check for previews on shows
                  airing on Cartoon Network. Servers are scanned and when data
                  is found, we archive the data and links.
                </p>
                <p>
                  While we still keep them archived, we also can find previews ahead of
                  their first release date (for either an app-exclusive release or
                  TV airings). This tool is great if you want to guess about what
                  happens in an upcoming episode.
                </p>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>

    <v-flex xs12 md10 lg8>
      <v-card>
        <v-container fluid>
          <v-layout row>
            <v-flex>
              <h5 class="headline">
                I see incorrect screenshots.
                And why is there no date to some episodes?
              </h5>
              <div>
                <p>
                  We use the data as-is. If something is wrong, it's likely CN's fault.
                </p>
                <p>
                  And yes, they sometimes don't specify any air date for some episodes
                  probably because it is for an app-exclusive release
                  (but this <i>usually</i> happens only for shorts.)
                </p>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>

    <v-flex xs12 md10 lg8>
      <v-card>
        <v-container fluid>
          <v-layout row>
            <v-flex>
              <h5 class="headline">
                Where do you get the previews?
              </h5>
              <div>
                <p>
                  From Turner's (who owns Cartoon Network) servers.
                </p>
                <p>
                  If you have already used the Cartoon Network app or website,
                  you might already know there are previews and screenshots
                  if you do not login. Those files are available to the public
                  and are uploaded before their actual release.
                </p>
                <p>
                  When do they go up? Between 2 weeks to 24 hours before release.
                  Yes, it is vague, but it always depends on the show and if it is
                  an app-exclusive release or not.
                </p>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>

    <v-flex xs12 md10 lg8>
      <v-card>
        <v-container fluid>
          <v-layout row>
            <v-flex>
              <h5 class="headline">
                Contact
              </h5>
              <div>
                <p>
                  Hit the owner at <code>kdy@airmail.cc</code>.<br/>
                  For tweets (and DMs), we're at
                  <a target="_blank" href="https://twitter.com/CTOONnet">
                    @CTOONnet</a>.
                </p>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>

    <v-flex xs12 md10 lg8>
      <v-card>
        <v-container fluid>
          <v-layout row>
            <v-flex>
              <h5 class="headline">
                More websites
              </h5>
              <div>
                <p>
                  Feel free to visit us also at...
                  <ul>
                    <li><a href="https://schedule.ctoon.network">CN Schedule</a> <small>(Because there's not official schedule page)</small></li>
                    <li><a href="https://sug.rocks">sug.rocks</a> <small>(Steven Universe Generals from 4chan)</small></li>
                    <li><a href="https://okko.fun">OKKO.fun</a> <small>(Stuff for "OK K.O.! Let's be Heroes!")</small></li>
                    <li><a href="https://ctoon.party">CTOON.party</a> <small>(Streaming)</small></li>
                  </ul>
                </p>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>

    <v-flex xs12 md10 lg8>
      <v-card>
        <v-container fluid>
          <v-layout row>
            <v-flex>
              <h5 class="headline">
                SOMEONE'S REPOSTING THE SCREENSHOTS AND
                VIDEOS AND IS NOT CREDITING YOU!!§!
              </h5>
              <div>
                <p>
                  lol ok
                </p>
                <p>
                  This is just an automated tool, anybody can get the same data
                  if they want to do it themselves.
                </p>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'show',
  data () {
    return {
      pagetitle: 'About'
    }
  },
  metaInfo () {
    return {
      title: this.pagetitle
    }
  }
}
</script>
