<template>
  <v-layout
    wrap justify-space-around
    v-if="pageready">
    <v-flex
      xs12
      v-if="preview">
      <h4 class="display-1" v-text="preview.title" />
      <router-link
        tag="h5"
        class="headline is-link"
        :to="{name: 'Show', params: { id: preview.showid }}"
        v-text="preview.show" />
      <br/>
      <blockquote class="blockquote mb-5">
        &#8220;{{ preview.description }}&#8221;
        <footer v-if="preview.airdate">
          <small>
            <em>
              <span v-if="isFuture()">
                Will air on
              </span>
              <span v-else>
                First aired on
              </span>
              {{ parseDate(preview.airdate) }}
            </em>
          </small>
        </footer>
      </blockquote>
    </v-flex>

    <v-flex
      xs12 md10 lg8
      v-if="preview"
      text-xs-center>
      <video
        class="fit"
        controls
        preload="auto"
        v-for="v in preview.videos"
        :key="v"
        :poster="preview.images[0]"
        :src="v" />
    </v-flex>

    <v-flex
      xs12 md10 lg8
      v-if="preview">
      <v-expansion-panel>
        <v-expansion-panel-content>
          <div slot="header">Screenshots</div>
          <v-card
            color="darken-2 grey">
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs4 md3 v-for="s in preview.images" :key="s">
                  <a :href="s" target="_blank">
                    <img class="fit" :src="'https://proxy.sug.rocks/400x/' + s" width="100%" height="100%">
                  </a>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-flex>

    <v-flex
      xs12 md10 lg8
      v-if="preview">
      <v-expansion-panel>
        <v-expansion-panel-content>
          <div slot="header">Advanced</div>
          <v-card
            color="darken-2 grey">
            <v-card-text>
              <b>API</b>
              <pre v-highlightjs="`GET https://api.ctoon.network/previews/details/` + $route.params.id"><code class="http"></code></pre>
              <br/>
              <b>RAW XML</b>
              <pre v-highlightjs="preview.xml"><code class="xml"></code></pre>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import 'highlight.js'
import 'highlight.js/styles/dracula.css'

export default {
  name: 'details',
  data () {
    return {
      pageready: false,
      pagetitle: 'Details',
      preview: false
    }
  },
  metaInfo () {
    return {
      title: this.pagetitle
    }
  },
  mounted () {
    var t = this

    fetch(t.$root.backendurl + '/details/' + t.$route.params.id)
      .then(response => {
        if (response.status === 404) {
          throw new Error('Page not found!')
        } else if (response.status !== 200) {
          throw new Error('Server error. Try again later!')
        }

        return response.json()
      })
      .then(json => {
        t.preview = json

        // Sort images
        t.preview.images.sort()

        t.pagetitle = json.title
        t.pageready = true
      })
      .catch(err => {
        t.$root.errorAlert.message = err.message
        t.$root.errorAlert.show = true
        t.pageready = true
      })
  },
  methods: {
    parseDate (ts) {
      var dobj = new Date(ts * 1000)
      return dobj.toLocaleDateString(
        'en-US',
        {
          year: this.isFuture() ? undefined : 'numeric',
          month: 'long',
          day: 'numeric',
          hour: this.isFuture() ? 'numeric' : undefined,
          minute: this.isFuture() ? 'numeric' : undefined
        }
      )
    },
    isFuture () {
      return (new Date(this.preview.airdate * 1000) > new Date())
    }
  }
}
</script>
