<template>
  <v-layout
    row wrap justify-space-around
    v-if="pageready">
    <v-flex xs12>
      <h4 class="display-1" v-text="pagetitle" />
    </v-flex>

    <template v-if="previews.future.length > 0">
      <v-flex xs12>
        <h5 class="headline">Airing soon</h5>
      </v-flex>
      <preview-details
        v-for="preview in previews.future"
        :preview="preview"
        :key="preview.id" />
      <v-flex xs12 text-xs-center my-3>
        <v-btn
          dark
          @click="fetchDataFuture"
          v-if="!navigation.future.nothingmore">
          Load more?
        </v-btn>
      </v-flex>
    </template>

    <v-flex xs12>
      <h5 class="headline">Past <small>or unknown date</small></h5>
    </v-flex>
    <preview-details
      v-for="preview in previews.past"
      :preview="preview"
      :key="preview.id" />
    <v-flex xs12 text-xs-center my-3>
      <v-btn
        dark
        @click="fetchDataPast"
        v-if="!navigation.past.nothingmore">
        Load more?
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'latest',
  data () {
    return {
      pageready: false,
      pagetitle: 'Latest',
      previews: {
        future: [],
        past: []
      },
      navigation: {
        future: {
          page: 1,
          nothingmore: false
        },
        past: {
          page: 1,
          nothingmore: false
        }
      }
    }
  },
  metaInfo () {
    return {
      title: this.pagetitle
    }
  },
  mounted () {
    this.fetchDataPast()
    this.fetchDataFuture()
  },
  methods: {
    fetchDataPast () {
      var t = this

      fetch(t.$root.backendurl + '/latest/' + t.navigation.past.page + '?past')
        .then(response => {
          if (response.status === 404) {
            throw new Error('Page not found!')
          } else if (response.status !== 200) {
            throw new Error('Server error. Try again later!')
          }

          return response.json()
        })
        .then(json => {
          if (json.length === 0 || json.length < 15) {
            t.navigation.past.nothingmore = true
          }

          t.previews.past.push.apply(t.previews.past, json)
          t.navigation.past.page++
        })
        .catch(err => {
          t.$root.errorAlert.message = err.message
          t.$root.errorAlert.show = true
          t.pageready = true
        })
    },
    fetchDataFuture () {
      var t = this

      fetch(t.$root.backendurl + '/latest/' + t.navigation.future.page + '?future')
        .then(response => {
          if (response.status === 404) {
            throw new Error('Page not found!')
          } else if (response.status !== 200) {
            throw new Error('Server error. Try again later!')
          }

          return response.json()
        })
        .then(json => {
          if (json.length === 0 || json.length < 15) {
            t.navigation.future.nothingmore = true
          }

          t.previews.future.push.apply(t.previews.future, json)
          t.navigation.future.page++
          t.pageready = true
        })
        .catch(err => {
          t.$root.errorAlert.message = err.message
          t.$root.errorAlert.show = true
          t.pageready = true
        })
    }
  }
}
</script>
