<template>
  <v-flex xs12 md6 lg4>
    <v-card
      :ripple="true"
      :color="`darken-2 ` + (this.isFuture() ? 'teal' : 'blue-grey')"
      class="white--text">
      <router-link
        tag="div"
        class="is-link"
        :to="{name: 'Details', params: { id: preview.id }}">
        <v-container fluid grid-list-lg>
          <v-layout row>
            <v-flex xs7>
              <div>
                <div class="headline" v-text="preview.title" />
                <div>
                  <span v-if="!hideShow">{{ preview.show }}<br/></span>
                  <em v-if="preview.airdate">
                    <span v-if="isFuture()">
                      Will air on
                    </span>
                    <span v-else>
                      First aired on
                    </span>
                    {{ parseDate(preview.airdate) }}
                  </em>
                </div>
              </div>
            </v-flex>
            <v-flex xs5>
              <v-card-media
                :src="'https://proxy.sug.rocks/400x/' + preview.images[0]"
                height="125px"
                contain />
            </v-flex>
          </v-layout>
        </v-container>
       </router-link>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: 'preview-details',
  props: ['preview', 'hideShow'],
  methods: {
    parseDate (ts) {
      var dobj = new Date(ts * 1000)
      return dobj.toLocaleDateString(
        'en-US',
        {
          year: this.isFuture() ? undefined : 'numeric',
          month: 'long',
          day: 'numeric',
          hour: this.isFuture() ? 'numeric' : undefined,
          minute: this.isFuture() ? 'numeric' : undefined
        }
      )
    },
    isFuture () {
      return (new Date(this.preview.airdate * 1000) > new Date())
    }
  }
}
</script>
