<template>
  <v-layout
    row wrap justify-space-around
    v-if="pageready">
    <v-flex xs12>
      <h4 class="display-1" v-text="pagetitle" />
    </v-flex>
    <v-flex
      xs12 md6 lg4
      v-for="show in shows"
      :key="show.id">
      <v-card color="blue-grey darken-2" class="white--text">
        <router-link
          tag="div"
          class="is-link"
          :to="{name: 'Show', params: { id: show.id }}">
          <v-container fluid grid-list-lg>
            <v-layout row>
              <v-flex xs12>
                <div>
                  <div class="headline" v-text="show.name"></div>
                  <div>Last update: {{ parseDate(show.lastupdate) }}</div>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </router-link>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'shows-list',
  data () {
    return {
      pagetitle: 'Shows',
      pageready: false,
      shows: []
    }
  },
  metaInfo () {
    return {
      title: this.pagetitle
    }
  },
  mounted () {
    var t = this

    fetch(t.$root.backendurl + '/shows')
      .then(response => {
        if (response.status === 404) {
          throw new Error('Page not found!')
        } else if (response.status !== 200) {
          throw new Error('Server error. Try again later!')
        }

        return response.json()
      })
      .then(json => {
        t.shows = json
        t.pageready = true
      })
      .catch(err => {
        t.$root.errorAlert.message = err.message
        t.$root.errorAlert.show = true
        t.pageready = true
      })
  },
  methods: {
    parseDate (ts) {
      var dobj = new Date(ts * 1000)
      return dobj.toLocaleDateString(
        'en-US',
        {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          hour: 'numeric',
          minute: 'numeric'
        }
      )
    }
  }
}
</script>
