<template>
  <v-layout
    row wrap justify-space-around
    v-if="pageready">
    <v-flex xs12>
      <h4 class="display-1" v-text="pagetitle" />
    </v-flex>
    <preview-details
      v-for="preview in previews"
      :preview="preview"
      :key="preview.id"
      :hideShow="true" />
    <v-flex xs12 text-xs-center my-3>
      <v-btn
        dark
        @click="fetchData"
        v-if="!navigation.nothingmore">
        Load more?
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'show',
  data () {
    return {
      pageready: false,
      pagetitle: 'Show Previews',
      previews: [],
      navigation: {
        page: 1,
        nothingmore: false
      }
    }
  },
  metaInfo () {
    return {
      title: this.pagetitle
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    fetchData () {
      var t = this

      fetch(t.$root.backendurl + '/shows/' + t.$route.params.id + '/' + t.navigation.page)
        .then(response => {
          if (response.status === 404) {
            throw new Error('Page not found!')
          } else if (response.status !== 200) {
            throw new Error('Server error. Try again later!')
          }

          return response.json()
        })
        .then(json => {
          if (json.length === 0 && t.navigation.page === 1) {
            t.navigation.nothingmore = true
            throw new Error('Nothing available yet!')
          }

          if (json.length < 15) {
            t.navigation.nothingmore = true
          }

          t.previews.push.apply(t.previews, json)
          t.pagetitle = json[0].show
          t.navigation.page++
          t.pageready = true
        })
        .catch(err => {
          t.$root.errorAlert.message = err.message
          t.$root.errorAlert.show = true
          t.pageready = true
        })
    }
  }
}
</script>
