$cn-blue: #00aeef;
$cn-pink: #ec018c;
$cn-yellow: #ffeb00;

@font-face {
  font-family: 'cnbold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/cn_bold.woff') format('woff'), url('./assets/fonts/cn_bold.ttf') format('ttf'), url('./assets/fonts/cn_bold.otf') format('otf'), url('./assets/fonts/cn_bold.eot'), url('./assets/fonts/cn_bold.eot?#iefix') format('embedded-opentype');
}

// Weird things that I need to fix
code {
  &::after,
  &::before {
    content: none;
  }
}

.speed-dial {
  position: absolute;
  z-index: 20;
}

h5 {
  margin-bottom: 1rem;

  &.is-link {
    text-decoration: underline;
  }
}

p {
  ul {
    margin: 5px 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Some styles
.toolbar {
  // Change title font
  .toolbar__title {
    color: $cn-yellow;
    font-family: 'cnbold', sans-serif;
    font-size: 2rem;
    font-weight: 900;
  }
}

// Change blockquote color
blockquote {
  border-left: 5px solid $cn-yellow;
}

// Change cursor to pointer
.is-link {
  cursor: pointer;

  .card__media__background {
    background-position: center right !important;
  }
}

// Make elements (video, img, ...) fit
.fit {
  height: auto;
  max-width: 100%;
}
