<template>
  <v-app dark>
    <v-toolbar app
      :absolute="true">
      <router-link
        tag="v-toolbar-title"
        class="is-link"
        to="/"
        v-text="title" />
    </v-toolbar>

    <v-content>
      <v-alert color="error" icon="new_releases" :value="true">
        Cartoon Network stopped using their old system to manage their video catalog and are now exclusively using the new video-data api, the same one as the mobile app.<br/>
        This means that we can't juste "guess" the episodes IDs (which was just a number) since they now use hashes (long string of "random" chars that we can't just guess).<br/>
        Until we can fully document all the new system, we can't be sure if there's a way to find "non-active" content.<br/>
        CTOON's preview platform will be updated in March to support the app data but only for what we can actually see.<br/>
        <br/>
        If you know how to get the new data or have some hints, feel free to drop me a tweet/DM (@CTOONnet), send an email (kdy@airmail.cc) or use Discord (Kody#1337).
      </v-alert>

      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg>
        <v-slide-y-transition mode="out-in">
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-content>

    <v-speed-dial
      v-model="fab"
      :top="true"
      :right="true"
      direction="left"
      transition="scale-transition">
      <v-btn
        slot="activator"
        color="blue-grey"
        dark fab hover v-model="fab">
        <v-icon>mdi-menu</v-icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <span
        v-for="item in menuItems"
        :key="item.route">
        <v-tooltip bottom :close-delay="0">
          <v-btn
            @click="$router.push(item.route)"
            fab dark small :color="item.color"
            slot="activator">
            <v-icon>{{ item.icon }}</v-icon>
          </v-btn>
          <span>{{ item.title }}</span>
        </v-tooltip>
      </span>
    </v-speed-dial>

    <v-snackbar
      color="info"
      :bottom="true"
      :left="true"
      :timeout="999999"
      v-model="newUpdate">
      App updated
      <v-btn dark flat @click="reload">Refresh</v-btn>
    </v-snackbar>

    <v-footer app
      :height="`auto`"
      :absolute="true">
      <v-container fluid>
        <v-layout row>
          <v-flex>
            <span class="d-inline-block">
              We are not affiliated with Cartoon Network.
            </span>
            <span class="d-inline-block">
              Data displayed as-is.
            </span>
          </v-flex>
          <v-flex class="text-xs-right">
            <span class="d-inline-block">
              &copy; CTOON {{ new Date().getFullYear() }}
            </span>
            &bull;
            <span class="d-inline-block">
              &copy; Cartoon Network <small>(A Time Warner Company)</small>
            </span>
          </v-flex>
        </v-layout>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        title: 'CN Previews',
        fab: false,
        newUpdate: false,
        menuItems: [
          {
            title: 'About',
            color: 'red',
            icon: 'mdi-information',
            route: '/about'
          },
          {
            title: 'All Shows',
            color: 'indigo',
            icon: 'mdi-format-list-bulleted',
            route: '/shows'
          },
          {
            title: 'Latest',
            color: 'blue',
            icon: 'mdi-clock',
            route: '/'
          }
        ]
      }
    },
    metaInfo () {
      return {
        title: 'Loading...',
        titleTemplate: '%s | ' + this.title
      }
    },
    mounted () {
      let t = this

      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.addEventListener('controllerchange', () => {
          t.newUpdate = true
        })
      }
    },
    watch: {
      // call the method if the route changes
      '$route': 'routeChange'
    },
    methods: {
      routeChange () {
        this.$root.errorAlert.show = false
      },
      reload () {
        window.location.reload()
      }
    }
  }
</script>

<style lang="scss">
@import './assets/main.scss';

/* WTF, I set fixed to false */
.toolbar--fixed {
  display: inherit;
}
</style>
